<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<!--    <servlet>
        <servlet-name>ProxyServer</servlet-name>
        <servlet-class>com.mycompany.smartproxy.ProxyServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServer</servlet-name>
        <url-pattern>/ProxyServer</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>com.mycompany.smartproxy.ApplicationConfig</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.mycompany.smartproxy.ApplicationConfig</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
